* {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #051622;
    
}

.header {
    display: flex;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
    color:#DEB992;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.result-display{
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 40px;    
    color: #1BA098;
    flex-wrap: wrap;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #1BA098;
    font-size: 50px;
    gap: 1em;
    padding: 1em;
}

.container {
    display: flex;
    color: burlywood;
    font-size: xx-large;
    border-radius: 8px;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.reset{
    display: flex;
    justify-content: center;
}

#btnRock, #btnPaper, #btnScissors, #btnReset {
    color: #F1B814;
    font-size: large;
    font-weight: bolder;
    padding: 30px;
    border: 5px solid #F1B814;
    border-radius: 20px;
    background-color: transparent;
}